*{
    font-family: "system-ui";
}

.get_start{
    background-color: white;
    height: 780px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

}
.getting-started{
    margin-right: 35px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(219,138,115);
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;

    &:hover {
        background-color: rgb(168,186,172);
        color: #fff; 
    }
}
.getting-startedd{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(168,186,172);
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color:#fff;
    font-size: 18px;
    margin-top: 20px;

    &:hover {
        background-color: rgb(219,138,115);
        color: #ffffff;  
    }   
}

.getting_started{
    height: 550px;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome_content{
    font-size:50px;
    width: 600px;
    font-weight: 400;
    color: rgb(82,106,110);
}

@media only screen and (max-width: 800px) {
    .welcome{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }
    .welcome_1{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .welcome_content{
        font-size:30px;
        width: 350px;
        font-weight: 400;
    }
    .getting-started{
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
    .getting-startedd{
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
    .getting_started{
        height: 300px;
        margin-top: 100px;
    }

    .first_page_logo{
        text-align: center;
        position: relative;
        right: 50px;
    }
}